<div class="colored-header text-align-center" cdkDrag cdkDragRootElement=".cdk-overlay-pane" cdkDragHandle cdkDragBoundary=".cdk-overlay-container">
    {{ 'Editing' | translate }}
    <mat-icon class="dialog-close-button" mat-dialog-close >close</mat-icon>

</div>

<mat-dialog-content class="small-margin-and-center-title">

    <h2 mat-dialog-title class="text-align-center">
        <mat-icon class="dialog-title-icon">person</mat-icon>
        <mat-icon class="dialog-title-icon">add</mat-icon>
        <span class="dialog-title">{{ 'KamatneStopeEditing' | translate }}</span>
    </h2>


    <div class="form-container">
        <table>
            <tr>
                <td>
                    <label for="IDKAMATNESTOPE" class="minimum-margin-top">{{ 'Code' | translate }}:</label>
                </td>
                <td>
                    <input id="IDKAMATNESTOPE" class="minimum-margin width-276-px" [(ngModel)]="kamatneStope!.IDKAMATNESTOPE"
                        disabled placeholder="{{ 'Code' | translate }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="IDTIPKAMATNESTOPE" class="minimum-margin-top">{{ 'Name' | translate }}:</label>
                </td>
                <td>
                    <input id="IDTIPKAMATNESTOPE" class="minimum-margin width-276-px" [(ngModel)]="kamatneStope!.IDTIPKAMATNESTOPE"
                        [class.input-color-valid]="kamatneStope!.IDTIPKAMATNESTOPE"
                        [class.red-input]="!globalFn.checkValidity(kamatneStope!.IDTIPKAMATNESTOPE)"
                        placeholder="{{ 'Name' | translate }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="POSTOTAKKAMATA" class="minimum-margin-top">{{ 'POSTOTAKKAMATA' | translate }}:</label>
                </td>
                <td>
                    <input id="POSTOTAKKAMATA" class="minimum-margin width-276-px" [(ngModel)]="kamatneStope!.POSTOTAKKAMATA"
                        placeholder="{{ 'POSTOTAKKAMATA' | translate }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="DATUMOD" class="minimum-margin-top">{{ 'DATUMOD' | translate }}:</label>
                </td>
                <td>
                    <input id="DATUMOD" class="minimum-margin width-276-px" type="date" [(ngModel)]="kamatneStope!.DATUMOD"
                        placeholder="{{ 'DATUMOD' | translate }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="DATUMDO" class="minimum-margin-top">{{ 'DATUMDO' | translate }}:</label>
                </td>
                <td>
                    <input id="DATUMDO" class="minimum-margin width-276-px" type="date" [(ngModel)]="kamatneStope!.DATUMDO"
                        placeholder="{{ 'DATUMDO' | translate }}">
                </td>
            </tr>
            <tr>
                <td>
                    <label for="IDTVRTKE" class="minimum-margin-top">{{ 'IDTVRTKE' | translate }}:</label>
                </td>
                <td>
                    <input id="IDTVRTKE" class="minimum-margin width-276-px" [(ngModel)]="globalVar.IdTvrtke"
                        disabled placeholder="{{ 'IDTVRTKE' | translate }}">
                </td>
            </tr>
        </table>
    </div>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button [mat-dialog-close]="true">{{ 'Cancel' | translate }}</button>
    <button mat-raised-button type="button" color="primary" [mat-dialog-close]="true" (click)="save();"
        [disabled]="validateForm(kamatneStope!)">{{ 'Create' | translate }}</button>
</mat-dialog-actions>